# ── Build ────────────────────────────────────────────
bin/
obj/
publish/
*.user
*.suo

# ── Visual Studio / Rider / VS Code ──────────────────
.vs/
.idea/
*.DotSettings.user

# ── Runtime / logs ───────────────────────────────────
error_log.txt
*.log

# ── SO ───────────────────────────────────────────────
Thumbs.db
desktop.ini
.DS_Store
